<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/empleados.css">
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <script src="js/dashboard.js"></script>
    <script src="js\vendors\jquery\jquery-3.6.0.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="sidebar">
     <div class="sidebar-content">
     <div class="sidebar-head">
     <li><a href="#" class="toggle_sidebar"><span class="las la-bars"></span></a></li>
     <a href="" class="btn-bell-show" id="btn-bell"><span class="las la-bell"></span></a>
     <div class="section-user-show" id="section-user">
         
         <a href=""><img class="image-user-show" id="image-user" src="images/user.jpg" alt=""></a>
         <div class="info-user">
             <span class="info-user-show" id="name-user">Ashlie González</span><br>
             <span class="info-user-show" id="name-cargo">Especialista Recursos Laborares</span>
         </div>
       
     </div>
     </div>
     <div class="sidebar-body">
        <ul>
           
            <li><a href="" class="links_sidebar_show"><span class="las la-address-book"></span>Plantilla Aprobada</a></li>
            <li><a href="empleados" class="links_sidebar_show"><span class="las la-users"></span>Empleados</a></li>
            <li><a href="" class="links_sidebar_show"><span class="las la-people-carry"></span>Areas de Trabajo</a></li>
            <li><a href="" class="links_sidebar_show"><span class="las la-warehouse"></span>Departamentos</a></li>

        </ul>
    </div>
    <div class="sidebar-footer">
        <li><a href="dashboard" class="links_sidebar_show"><span class="las la-arrow-left"></span>Atras</a></li>
    </div>
  </div>
  
 </div>

   <div class="main_content">
    
     <div class="main_headear">
       <h1>Empleados</h1>
     </div>

     <main class="content">
         <div class="grip-cards">
             <div class="card">
              <h4>Empleados:</h4>
              <span>Total: 35</span><br>
              <span>Hombres: 20</span><br>
              <span >Mujeres: 15</span>
             </div>
             <div class="card">
                <h4>Contratos:</h4>
                <span >Indeterminados: 25</span><br>
                <span >Determinados: 9</span><br>
                <span >Vencidos: 1</span>
             </div>
             <div class="card">
               
             </div>
             <div class="card card">

             </div>
            </div>
            <div class="grip-tables">
              <div class="table-nivel-escolaridad">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="nivel-escoldaridad" >Nivel Escolaridad</th>
                      <th scope="col" class="total">Empleados</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row"> 
                  
                      <td>Nivel Medio</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>Nivel Técnico Medio</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                   
                      <td>Nivel Medio Superior</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>Nivel Superior</td>
                      <td>1</td>
                    </tr>
                  
                   
                  </tbody>
                
                  </table>
                 
              </div>


              <div class="table-categoria-ocupacional">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="categoria-ocupacional">Categoria Ocupacional</th>
                      <th scope="col" class="total">Empleados</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row"> 
                  
                      <td>Cuadro Superior</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>Cuadro Directivo</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                   
                      <td>Cuadro Ejecutivo</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>Tecnicos</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
          
                      <td>Administrativos</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                
                      <td>Servicios</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>Obreros</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                  </table>
              </div>


              <div class="table-rango-edades">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="rango-edades">Rango de Edades</th>
                      <th scope="col" class="total">Empleados</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row"> 
                  
                      <td>de 17 a 30 Años de Edad</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>de 31 a 40 Años de Edad</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                   
                      <td>de 41 a 50 Años de Edad</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
                    
                      <td>de 51 a 60 Años de Edad</td>
                      <td>1</td>
                    </tr>
                    <tr class="row">
          
                      <td>Más de 60 Años de Edad</td>
                      <td>1</td>
                    </tr>
                    
                  </tbody>
                  </table>
              </div>
          </div>
             
        </main>
       
         

     </div>
    
  </div>
 



</body>
</html>