<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/recursos_laborales.css">
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <script src="js/dashboard.js"></script>
    <script src="js\vendors\jquery\jquery-3.6.0.min.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="sidebar">
     <div class="sidebar-content">
     <div class="sidebar-head">
     <li><a href="#" class="toggle_sidebar"><span class="las la-bars"></span></a></li>
     <a href="" class="btn-bell-show" id="btn-bell"><span class="las la-bell"></span></a>
     <div class="section-user-show" id="section-user">
         
         <a href=""><img class="image-user-show" id="image-user" src="images/user.jpg" alt=""></a>
         <div class="info-user">
             <span class="info-user-show" id="name-user">Ashlie González</span><br>
             <span class="info-user-show" id="name-cargo">Especialista Recursos Laborares</span>
         </div>
       
     </div>
     </div>
     <div class="sidebar-body">
        <ul>
           
            <li><a href="" class="links_sidebar_show"><span class="las la-address-book"></span>Plantilla Aprobada</a></li>
            <li><a href="empleados" class="links_sidebar_show"><span class="las la-users"></span>Empleados</a></li>
            <li><a href="" class="links_sidebar_show"><span class="las la-people-carry"></span>Areas de Trabajo</a></li>
            <li><a href="" class="links_sidebar_show"><span class="las la-warehouse"></span>Departamentos</a></li>

        </ul>
    </div>
    <div class="sidebar-footer">
        <li><a href="dashboard" class="links_sidebar_show"><span class="las la-arrow-left"></span>Atras</a></li>
    </div>
  </div>
  
 </div>

   <div class="main_content">
    
     <div class="main_headear">
       <h1>Recursos Laborales</h1>
     </div>

     <main class="content">
         <div class="dash-cards">
             <div class="card">

             </div>
             <div class="card">

             </div>
             <div class="card">

             </div>
             <div class="card">

             </div>
         </main>
       
         

     </div>
    
  </div>
 



</body>
</html>